@{
    ViewData["Title"] = "Home";
}
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold text-primary">Welcome to My Portfolio</h1>
            <p class="lead">I'm a passionate developer with a love for creating beautiful and functional web applications.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <img src="https://m.media-amazon.com/images/M/MV5BYzU3NWRhMjgtNmNmMS00YjQ1LWIyYzgtYzdkYjRjNWEzM2E3XkEyXkFqcGc@@._V1_.jpg" class="img-fluid rounded-circle shadow" alt="Profile Picture">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <p>
                Hi, I'm Chad Christian S. Calibjo, a web developer specializing in ASP.NET Core MVC and front-end technologies.
                I enjoy building responsive and user-friendly applications. Take a look at my projects and feel free to reach out!
            </p>
        </div>
    </div>
</div>